<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="aspnet:SynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
		<pages theme="DefaultTheme" masterPageFile="~/Site.Master" />
	</system.web>
	<connectionStrings>
		<add name="ElectricityBillDBConnection"
			 connectionString="Server=ICS-LT-7Z33D64\SQLEXPRESS01;Database=ElectricityBillDB;user id=sa;password=Monalipatnaik@123;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>